<h1>Photos</h1>

<div class="flickr">
    
     <%= form_tag(static_pages_index_path, method: :get) do %>
        <%= text_field_tag :user, params[:user] %>
        <%= submit_tag 'Search' %>
<% end %>
  
    <ul>
       <% @photos.each do |photo| %>
        <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}" %>
        <% end %>
    </ul>
  
</div>

<%= params.inspect %>